.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: 9px;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}
